{% extends "account\custom_base_template.html" %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock title%}
{% block body %}
<div style="background-color: var(--discover);" >
    {% load i18n %}
{% load allauth account %}

{% block content %}
    <h1>
                 {% trans "Sign In" %}
 </h1>
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
         If you have not created an account yet, then please <a href="{% url 'user_signup' %}"> signup </a>
          first.
        {% endelement %}
        {% url 'account_login' as login_url %}
        <form action="{{ login_url }}" method="post">
            {{ form|crispy }}
                {% csrf_token %}
                {{ redirect_field }}
            <div style="display: flex; justify-content: center; background-color: var(--discover);">
                 <button class="btn-neon" style="width: 100%;">
                    {% trans "Sign In" %}
            </button>
            </div>
    </form>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group vertical=True %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                    {% trans "Sign in with a passkey" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                    {% trans "Send me a sign-in code" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
{% block extra_body %}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
</div>
{% endblock body %}