{% extends "account/custom_base_template_info.html" %}
{% load static %}
{% block title%}Logout{% endblock title %}
{% load allauth i18n %}
{% block cus_body%}
{% block content %}
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
   <div style="display: flex; align-items: center; gap: 7px;">
    {% element form method="post" action=action_url no_visible_fields=True %}
    {% slot body %}
        {% csrf_token %}
        {{ redirect_field }}
    {% endslot %}
    {% slot actions %}
        <button class="btn-neon-pink">
            {% trans 'Sign Out' %}
        </button> 
         
    {% endslot %}
{% endelement %}
<a href="{% url 'storefront_home' %}">
    <button id="btn_logout" class="btn-neon">
        <img id="back-image" src="{% static 'storefront\arrow-left.svg' %}" alt="arrow-back" width="30px"><span>No Take Me Back</span>
    </button> 
</a>
   </div>
{% endblock content %}
{% endblock cus_body %}