{% extends "account/custom_base_template_info.html" %}
{% load i18n %}
{% load allauth %}
{% block title %} Password successfully changed {% endblock title %}
{% block body %}
{% block content %}
    {% for msg in messages %}
        <div class="alert alert-{{ msg.level_tag }}">{{ msg }}</div>
    {% endfor %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password has been successfully changed.' %}
    {% endelement %}
{% endblock content %}
{% endblock body %}