{% extends "storefront/settings_base.html" %}
{% load static %}
{% load crispy_forms_tags %}    
{% load allauth i18n %}
{% block breadcrumbs %}
<a href="{% url 'storefront_home' %}" class="nav-links">Home</a>
<span style="font-weight: bold;"> | </span> 

<span style="color: cyan;">Nova List</span>
{% endblock breadcrumbs %}
{% block content %}
 <div class="col-md-6 col-lg-9 sub_checkoutb" style="height: 500px;">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
 
         <form action="{{ action_url }}" method="post">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form}}
        
        <button class="btn-neon">
            {% trans "Change Password" %}
        </button>
                
            
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    
    </form>
    </div>
   
{% endblock content %}

