asgiref==3.8.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
crispy-bootstrap5==2024.10
cryptography==46.0.3
dj-database-url==3.1.0
Django==5.1.7
django-allauth==65.6.0
django-crispy-forms==2.3
django-otp==0.2.7
idna==3.11
pillow==11.1.0
pycparser==2.23
PyJWT==2.10.1
pyotp==2.9.0
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.6.2
