{% extends 'storefront\index.html' %}
{% block body %}
    <!-- {% for product in products %}
        <div class="product-card" style="padding: 5px;">
            <img src="{{product.image.url}}" alt="" class="product-image" style="width: 60px;">
            <div class="product-title">{{ product }}</div>
            <div class="product-price">{{ product.price }}</div>
            <a href="{% url 'product_details' product.name %}">
                <button class="card-btn btn btn-success"> view product </button>
            </a>
        </div>
    {% endfor %} -->
    <section class="hero row" style="gap: 0;">
    <div class="category col-lg-3 col-md-12">
     
<div class="p-2" style="overflow-y: scroll; height: 200px;">
  <h1 style="font-weight: bolder;">Categories</h1>

  <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="true"
          aria-controls="flush-collapseOne"
        >
          Accordion Item #1
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          This is the first item's accordion body.
        </div>
      </div>
    </div>
    
  </div> -->
  

    {% for cat in category %}
    <a class="text-decoration-none rounded text-capitalize d-block" style="color: cyan;background-color: var(--discover);" href="{% url 'product_cat' cat  %}">
        <div class="menu-item m-2"> 
          {{ cat }} </div>
    </a>
    {% endfor %}

</div>


    </div>
<div class="hero-text col-lg-9 col-md-12" >
      <h1 style="font-weight: bolder;">UPGRADE YOUR TECH</h1>
      <p>Explore cutting-edge phones and gadgets with <span class="neon-cyan">cyberpunk aesthetics</span>.</p>
     <a href="#product-grid" style="text-decoration: none;"><button class="btn-neon-pink">SHOP NOW</button></a> 
    </div>
   

  </section>
    <section class="products">
     <h2><span class="neon-cyan">//</span> LATEST DROPS</h2>
    <div class="product-grid" id="product-grid">
      {% for product in products %}
     <div>
      <div class="product-card">
    <a class="product-link" href="{% url 'product_details' product.name %}">
               <div class="product-badge">{{ product.cat }}</div>
        <div class="product-img">
          <img src="https://via.placeholder.com/200x200/1A1A1A/00FFEE?text=PRODUCT" alt="Phone">
        </div>
        <h3 style="font-size: 1rem;">{{ product.name }}</h3>
        {% if product.cat == "sale" %}
        <p class="price">${{ product.sale_price }}<span class="original-price">${{ product.price }}</span></p>
        {% else %}
        <p class="price">${{ product.price }}</p>
        {% endif %}
    </a>
    <div class="row" style="align-items: center;">
   {% if request.user.is_authenticated %}
         <div class="col-9">
       <form class="form_add" action="{% url 'cart_add' %}" method="POST">
        {% csrf_token %}
        
         <div class="qty">
    <button type="button"  class="quantity-btn decrement" >-</button>
	{% for key,value in quantities.items %}
		{% if key == product.id|slugify %}
    <input type="number" class="quantity-input" name="product_qty" value="{{ value }}" id="hidden_qty" min="1">
		{% else %}	
    <input type="number" class="quantity-input" name="product_qty" value="1" id="hidden_qty" min="1">
		{% endif %}
	{% endfor %}
    <input type="number" class="quantity-input" name="product_qty" value="1" id="hidden_qty" min="1">
     <button type="button"  class="quantity-btn increment" type="submit">+</button>
    </div>
    
        <input type="hidden" name="product_id" value="{{ product.id }}">
         <button class="btn-neon" id="add_cart">Add To Cart</button>
      </form>  
      </div>
      <div class="col-3">
    <form action="{% url 'product_like' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="product_id" value="{{ product.id }}">


    {% if not  product.id|slugify in wishlistitemids %}
  <input type="hidden" name="action" value="like">
  <button type="submit"  class="btn-like" >
      <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="30px" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
      </svg>  
  </button>
  {% else %}
  <input type="hidden" name="action" value="unlike">
  <button type="submit" class="btn-like">
    <svg xmlns="http://www.w3.org/2000/svg" width="30px" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
</svg>
  </button>
  {% endif %}
</form>    
      </div>
   {% else %}
          <div class="col-12">
       <form class="form_add" action="{% url 'cart_add' %}" method="POST">
        {% csrf_token %}
        
         <div class="qty">
    <button type="button"  class="quantity-btn decrement" >-</button>
	{% for key,value in quantities.items %}
		{% if key == product.id|slugify %}
    <input type="number" class="quantity-input" name="product_qty" value="{{ value }}" id="hidden_qty" min="1">
		{% else %}	
    <input type="number" class="quantity-input" name="product_qty" value="1" id="hidden_qty" min="1">
		{% endif %}
	{% endfor %}
    <input type="number" class="quantity-input" name="product_qty" value="1" id="hidden_qty" min="1">
     <button type="button"  class="quantity-btn increment" >+</button>
    </div>
    
        <input type="hidden" name="product_id" value="{{ product.id }}">
         <button class="btn-neon" id="add_cart">Add To Cart</button>
      </form>  
      </div>
   {% endif %}

    </div>

      </div>
     </div>
  {% endfor %}
    </div>
</section>
{% endblock body %}
<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
</svg>

solid
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
</svg> -->